In [1]:
import pandas as pd
import glob

In [2]:
locations = pd.read_csv('C:/Users/Aidan/OneDrive - Simon Fraser University (1sfu)/Garbage Route Optimization/poco-allzones.csv')

In [3]:
counts = locations.groupby('Garbage Zone').count()

In [4]:
paths = glob.glob('C:/Users/Aidan/OneDrive - Simon Fraser University (1sfu)/Garbage Route Optimization/routes/*.csv')

dfs = [pd.read_csv(filename,index_col=0) for filename in paths]

In [29]:
results = []
secondResults = []
for i in range(0,len(dfs)):
    df = dfs[i]
    p = paths[i]
    numTrucks = int(p[p.find('trucks')-1])
    zone = int(p[p.find('\\')+5])
    if numTrucks == 3:
        continue
    numHouses = counts[counts.index==zone]['Address'].values[0]
    t = round((sum(df.groupby('vehicleID').max('time')['time'])+ 15 * numHouses + 5400*numTrucks)/3600)
    secondResults.append([zone,numTrucks] + list(((df.groupby('vehicleID').max('time')['time']+ 15 * numHouses + 5400*numTrucks)/3600).values))
    if len(secondResults) < 9:
        secondResults += []
    results.append([zone, numTrucks, t])

In [36]:
secondResults[2]

[1,
 6,
 18.7625,
 18.751666666666665,
 18.283055555555556,
 18.785,
 18.75638888888889,
 18.614722222222223]

In [33]:
byTruck = pd.DataFrame(secondResults,columns=['Zone', 'numTrucks', 'truck1', 'truck2', 'truck3''truck4','truck5','truck6','truck7'])

ValueError: 8 columns passed, passed data had 9 columns

In [32]:
secondResults

[[1, 4, 16.095277777777778, 15.905, 16.1275, 15.825277777777778],
 [1,
  5,
  17.415,
  17.391111111111112,
  17.313055555555554,
  17.34111111111111,
  17.0225],
 [1,
  6,
  18.7625,
  18.751666666666665,
  18.283055555555556,
  18.785,
  18.75638888888889,
  18.614722222222223],
 [1,
  7,
  20.170555555555556,
  20.210833333333333,
  20.1775,
  20.1625,
  20.205,
  20.121666666666666,
  19.245833333333334],
 [2, 4, 16.624166666666667, 16.73, 16.82611111111111, 16.7675],
 [2,
  5,
  18.126666666666665,
  17.966666666666665,
  18.108333333333334,
  18.102222222222224,
  17.960833333333333],
 [2,
  6,
  19.515,
  19.39638888888889,
  19.502777777777776,
  19.348333333333333,
  19.4275,
  19.2525],
 [2,
  7,
  20.255,
  20.829166666666666,
  20.884722222222223,
  20.842222222222222,
  20.853055555555557,
  20.888055555555557,
  20.7675],
 [3,
  4,
  15.36888888888889,
  15.42361111111111,
  15.298055555555555,
  14.839166666666667],
 [3,
  5,
  16.604166666666668,
  16.590833333333332,
  16.36888888888889,
  16.629444444444445,
  16.50138888888889],
 [3,
  6,
  17.938333333333333,
  17.962222222222223,
  17.941666666666666,
  18.04111111111111,
  17.688333333333333,
  17.913055555555555],
 [3,
  7,
  19.45,
  19.467777777777776,
  18.895833333333332,
  19.336388888888887,
  19.2925,
  19.403333333333332,
  19.41111111111111],
 [4, 4, 15.994722222222222, 15.776944444444444, 16.020833333333332, 15.9075],
 [4,
  5,
  17.149444444444445,
  17.135277777777777,
  17.324166666666667,
  17.27111111111111,
  17.343333333333334],
 [4,
  6,
  18.70888888888889,
  18.697777777777777,
  18.690833333333334,
  18.488611111111112,
  18.419722222222223,
  18.68638888888889],
 [4,
  7,
  20.10333333333333,
  20.058333333333334,
  20.02111111111111,
  20.0425,
  20.075555555555557,
  20.02638888888889,
  19.995555555555555],
 [5,
  4,
  12.961666666666666,
  13.22638888888889,
  13.426388888888889,
  13.07638888888889],
 [5,
  5,
  14.461666666666666,
  14.55861111111111,
  14.513333333333334,
  14.471111111111112,
  14.4625],
 [5,
  6,
  15.961666666666666,
  15.874444444444444,
  15.88111111111111,
  15.96888888888889,
  15.844444444444445,
  15.712777777777777],
 [5,
  7,
  17.203055555555554,
  17.175555555555555,
  17.316666666666666,
  17.3075,
  17.420833333333334,
  17.329722222222223,
  17.18111111111111]]

In [8]:
r = pd.DataFrame(results,columns=['Zone', 'numTrucks', 'time'])

In [9]:
r

    Zone  numTrucks  time
0      1          4    20
1      1          5    21
2      1          6    23
3      1          7    25
4      2          4    21
5      2          5    23
6      2          6    24
7      2          7    26
8      3          4    19
9      3          5    20
10     3          6    22
11     3          7    24
12     4          4    19
13     4          5    21
14     4          6    22
15     4          7    24
16     5          4    16
17     5          5    18
18     5          6    19
19     5          7    21

In [7]:
r.pivot(index='numTrucks',columns='Zone')

          time
Zone         1   2   3   4   5
numTrucks
4           20  21  19  19  16
5           21  23  20  21  18
6           23  24  22  22  19
7           25  26  24  24  21